@page
@model LoginModel
@{
    ViewData["Title"] = "Login";
}

<div class="min-h-screen bg-[#F6F1E9]">
    <hero-component title="Sign In" subtitle="Welcome back to Give-AID"/>

    <div class="flex flex-col justify-center py-12 px-6 lg:px-8">
        <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
            <login-form/>
        </div>
    </div>
</div>
