@page "{slug?}"
@model AboutModel
@{
    ViewData["Title"] = "About Us";
}

<div id="about-us">
    <hero-component title="About Us" subtitle="Our story, mission, and the people behind Give-AID"/>
    <about-us-view slug="@Model.Slug" />
</div>
