@page
@model DonationsModel
@{
    ViewData["Title"] = "My Donations";
}

<hero-component title="My Donations" subtitle="View and track all your generous contributions"/>

<div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:px-8">
    <donation-list />
</div>
