@page "/Programmes"
@model ProgrammesModel
@{
    ViewData["Title"] = "Our Programmes";
}

<div class="min-h-screen bg-[#F6F1E9] pb-12">
    <hero-component title="Our Programmes" subtitle="Discover and support causes that matter to you"/>

    <div class="max-w-7xl mx-auto px-6 mt-8">
        <programmes-list/>
    </div>
</div>
